@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
} 


#watercooler-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .sky {
        width: 100%;
        height: 10%;
        background-color: blue;
    }

    .room {
        display: flex;
        position: relative;
        background-color: transparent;
        width: 100%;
        height: 80%;
        justify-content: center;

        .watercooler {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            height: 50%;
            width: 30%;
            min-width: 300px;
            position: absolute;
            bottom: 0;
            background-color: transparent;
    
            .bottle {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                height: 30%;
                width: 20%;
                border-radius: 5px;
                background-color: transparent;
                border: 2px solid lightblue;

                .water-wave {
                    width: 100%;
                    height: 5px;
                    bottom: 0px;
                    position: relative;
                    overflow: hidden;

                    .wave1, .wave2, .wave3, .wave4, .wave5, .wave6, .wave7, .wave8, .wave9, .wave10, .wave11, .wave12, .wave13, .wave14, .wave15, .wave16, .wave17, .wave18, .wave19, .wave20 {
                        position: absolute;
                        background-color: lightblue;
                        height: 30px;
                        width: 30px;
                        border-radius: 20px;
                        animation: wave-movement 3s ease-in infinite;
                    }
                    
                    .wave1 { animation-duration: 6.7s;
                            bottom: 10px;}
                    .wave2 { animation-duration: 2s;}
                    .wave3 { animation-duration: 3s;}
                    .wave4 {animation-duration: 4.5s;}
                    .wave5 {animation-duration: 5.5s;}
                    .wave6 {animation-duration: 6.5s;}
                    .wave7 {animation-duration: 7.3s;}
                    .wave8 {animation-duration: 8.3s;}
                    .wave9 {animation-duration: 9.3s;}
                    .wave10 { animation-duration: 6.7s;}
                    .wave11 { animation-duration: 5.7s;}
                    .wave12 { animation-duration: 1.5s;}
                    .wave13 { animation-duration: 3.5s;}
                    .wave14 {animation-duration: 12s;}
                    .wave15 {animation-duration: 7.4s;}
                    .wave16 {animation-duration: 8.1s;}
                    .wave17 {animation-duration: 15s;}
                    .wave18 {animation-duration: 1.8s;}
                    .wave19 {animation-duration: 4.3s;}
                    .wave20 {animation-duration: 6.1s;}

                    @keyframes wave-movement {
                        from {left: 0px;}
                        50% {left: 100%;}
                        to {left: 0px;}
                    }

                }

                .water {
                    // align-self: flex-end;
                    background-color: lightblue;
                    height: 50%;
                    width: 100%;
                    transition: height 10s;
                }
            }
    
            .base {
                height: 50%;
                width: 30%;
                min-width: 100px;
                background-color: #e6e6e6;
                border: 2px solid #e6e6e6;
                border-radius: 5px;

                .taps {

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    border: 3px solid grey;
                    border-top: none;
                    height: 100px;
                    width: 50%;
                    margin: 0 auto;
                    position: relative;
                    top: 30%;

                    .tap1, .tap2 {
                        position: relative;
                        top: 10px;
                        width: 0; 
                        height: 0; 
                        border-left: 12px solid transparent;
                        border-right: 12px solid transparent;
                        
                        border-top: 12px solid grey;

                        &:before {
                            content: "";
                            display: block;
                            width: 5px;
                            height: 20px;
                            background-color: grey;
                            position: relative;
                            left: -2px;
                            top: -2.5px;

                        }
                    }

                    .tapbase {
                        align-self: flex-end;
                        width: 90%;
                        height: 5px;
                        margin-bottom: 10px;
                        background-color: grey;
                    }
                }
            }
    
        }

    }


    .floor {
        width: 100%;
        height: 10%;
        background-color: #000;
    }


    .quiz {
        width: 100%;
        text-align: center;
        height: 50%;

        .qTitle {
            font-size: 30px;
            line-height: 1.5;
            max-width: 600px;
            margin: 0 auto;

            &:last-child {
                margin-top: 1rem;
            }

            span {
                font-size: 24px;
                margin: 2rem;
            }
        }

        .quiz-options {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            font-size: 30px;
            line-height: 1.5;
            max-width: 800px;
            margin: 0 auto;
            margin-top: 1rem;

            .opt {
                min-width: 150px;
                width: auto;
                padding: .5rem;
                min-height: 50px;
                background-color: lightblue;
                border-radius: 10px;
                margin-top: 10px;

                &.correct {
                    background-color: green;
                    color: #fff;
                    transition: all 1s;
                }
            }

        }

    }
}